<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href= "{{ url_for('static', filename='css/walker.css') }}">
    <title>Walker</title>
  </head>
  <body>
    <div class='userLoginName'>{{ g.user.user_name | "anonymous" }}
    <h1>Walker</h1>
    <h2>The first million steps are always the hardest.</h2>
    <form action = '{{ url_for('stepsreading') }}' method='post'>
      {{ steps_form.csrf_token }}
      {{ steps_form.reading_day.label }} : {{ steps_form.reading_day }}
      {{ steps_form.steps_count.label }} : {{ steps_form.steps_count }}
      <button type='submit'>Register</button>
    </form>
    <h3>Step Counts</h3>
    <ul>
      {% for entry in object_list.items %}
        <li>{{entry.reading_day.strftime('%B %d, %Y')}}: {{'{:,}'.format(entry.steps_count)}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
