<!doctype html>
<html>
  <head>
    <title>Walker</title>
  </head>
  <body>
    <h1>Walker</h1>
    <h2>The first million steps are always the hardest.</h2>
    <form action = '{{ url_for('stepsreading.create') }}' method='post'>
      {{ steps_form.reading_date.label }} : {{ steps_form.reading_date }}
      {{ steps_form.step_count.label }} : {{ steps_form.steps_count }}
      <button type='submit'>Register</button>
    </form>
    <h3>Step Counts</h3>
    <ul>
      {% for entry in object_list.items %}
        <li>{{entry.reading_day}}: {{entry.steps_count|int}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
